<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <packageRestore>
    <add key="enabled" value="True" />
  </packageRestore>
  <packageSources>
    <add key="local" value="./src/package/bin/Debug" />
  </packageSources>
  <config>
    <add key="globalPackagesFolder" value="packages" />
  </config>
</configuration>
